.git
.gitignore
.github

.eslintrc
.prettierrc.js
.stylelintrc
jest.config.ts

README.md

Dockerfile
.dockerignore

.idea
.DS_Store
.vscode

node_modules
npm-debug.log

docs

test-artifacts
test-results

build
.nyc_output
