name: Up version

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    name: up-version
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: up version
        id: version
        run: |
          echo "actor: ${{ github.actor }}"
          VERSION=$(npm version minor --no-commit-hooks --no-git-tag-version)
          echo "version: ${VERSION}"
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
      - name: git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
      - name: commit version
        run: |
          VERSION=${{ steps.version.outputs.version }}
          git add package.json
          git add package-lock.json
          git commit -a -m "Up version to ${VERSION} [release]"
          git push
      - name: create tag
        run: |
          VERSION=${{ steps.version.outputs.version }}
          git tag -a "${VERSION}" -m "Up version to ${VERSION}"
          git push origin "${VERSION}"
